@font-face {
    font-family: 'Press Start 2P';
    src: url('./PressStart2P-Regular.ttf');
}

html,
body {
    background-image: linear-gradient(#000, #222);
    height: 100%;
    overflow: hidden;
    font-family: 'Press Start 2P';
    font-size: large;
    color: #ddd;
}

.block {
    width: 30px;
    height: 30px;

    outline-width: 2px;
    outline-offset: -2px;
    outline-style: outset;
}

.small-block {
    width: 15px;
    height: 15px;

    outline-width: 1px;
    outline-offset: -1px;
    outline-style: outset;
}

.empty {
    background-color: #464646;

    border-radius: 0px;
    outline: none;
}

.i {
    background-color: #00ffff;
    outline-color: #00ffff;
}

.j {
    background-color: #0000ff;
    outline-color: #0000ff;
}

.l {
    background-color: #ff7f00;
    outline-color: #ff7f00;
}

.o {
    background-color: #ffff00;
    outline-color: #ffff00;
}

.z {
    background-color: #ff0000;
    outline-color: #ff0000;
}

.s {
    background-color: #00ff00;
    outline-color: #00ff00;
}

.t {
    background-color: #bb00bb;
    outline-color: #bb00bb;
}

.greyed-out {
    background-color: #aaaaaa;
    outline-color: #aaaaaa;
}

.white {
    background-color: #ddd;
    outline-color: #ddd;
}

.transparent {
    background-color: rgba(255, 255, 255, 0.4);
    outline-style: solid;
    outline-color: #999999;
    opacity: 80%;
}
